.Card
    h2.Card-name Wolverine
    img.Card-image(src='./img/wolverine.jpg', alt='Wolverine')
    .Card-description
        | Wolverine is a powerfull tiger
    .Card-power
        | Attack: 500 pts