// Nib
@import "nib"

// Components
@import "./components/components"
@import "./layout/layout"
@import "./card/card"
@import "./status/status"
@import "./phases/phases"
@import "./battle/battle"

body
	font-size 16px
	font-family  Helvetica, sans-serif, arial
	margin 0
	padding 0





