// Status
.Status
    background orange
    &-player
        background rojo
        padding .5em
        color white
        margin 0
    &-points
        padding .5em
        text-align center
        margin 0
